:root{
    --textsize1:2.3rem;
    --textsize2:4rem;
    --margine:10vw;
}

.testo{
    margin-left: var(--margine);
    margin-right: var(--margine);
    margin-top: 5vw;
    font-size: var(--textsize1);
}

.titolo{
    font-size: var(--textsize2);
    padding: 10px;
}