:root{
    --textsize1:2rem; /*grandezza testi*/
    --textsize2:4rem;  /*grandezza titoli*/
    --margine:0%;    /*margine testo della call*/
}

*{
    padding: 0px;
    margin: 0px;
    border: 0px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/*font regular*/
@font-face {
    font-family: FR ;
    src: url(font/Arizona-Light.otf);
}
/*font bold*/
@font-face {
    font-family: FB ;
    src: url(font/Arizona-Medium.otf);
}

@keyframes intestazione{

0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
}
100% {
    -webkit-transform: translateX(-4165px);
    transform: translateX(-4165px);
}
}

.corpo{

    overflow-x: hidden ;
    

}

.intestazione{
        -webkit-animation: intestazione 50s linear infinite;
        animation: intestazione 50s linear infinite;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        width: 100%;
        min-width: 8330px;
        background-position-y: center;
        background-size: contain;
        

        margin-top: 10px;
}




.testocall{
    font-size: 30pt;
    font-family: FR;
    margin-right: 7vw;
    margin-left: 7vw;
    margin-top: 5vw;
    
}

p.sottotitolo{
    font-family: FB;
    font-size: var(--textsize1);
}

a{
    color: rgb(128, 123, 123);
    text-decoration: none;
}

@media screen and (max-width:800px){

    .testocall{
        font-size: 46pt;
        margin-top: 100px;
    
    }
}

@media screen and (min-width:800px){

    .testocall{
        font-size: 28pt;
        margin-top: 120px;
        font-size: 32pt;
        margin-right: 10vw;
        margin-left: 10vw;
        margin-top: 5vw;
    
    }
}
